openapi: 3.1.0
info:
  contact:
    email: info@grafana.com
    name: Grafana Support
    url: https://grafana.com/help/
  description: HTTP API for interacting with k6 Cloud.
  title: ""
  version: 0.0.0
servers:
- url: https://api.k6.io
tags:
- name: load-tests
- name: load-zones
- name: projects
- name: schedules
- name: static-ips
- name: test-runs
- name: variables
paths:
  /load_tests:
    get:
      description: List all load tests.
      operationId: projects_load_tests_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - name
          - created
          - updated
        example: "name desc,created"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: created desc
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 1234
                      project_id: 312
                      name: Orders API Soak Test
                      baseline_test_run_id: null
                      created: 2024-12-03T09:53:00.553
                      updated: 2024-12-03T09:53:00.553
              schema:
                $ref: '#/components/schemas/PaginatedLoadTestList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - load-tests
  /load_tests/{id}:
    delete:
      description: Delete a load test.
      operationId: load_tests_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Can not delete while the test is running.
      security:
      - k6ApiToken: []
      tags:
      - load-tests
    get:
      description: Describe a single load test.
      operationId: load_tests_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value:
                    id: 1234
                    project_id: 312
                    name: Orders API Soak Test
                    baseline_test_run_id: null
                    created: 2024-12-03T09:53:00.553
                    updated: 2024-12-03T09:53:00.553
              schema:
                $ref: '#/components/schemas/LoadTest'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - load-tests
    patch:
      description: Update a load test.
      operationId: load_tests_partial_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update:
                value:
                  name: New Test Name
                  baseline_test_run_id: 123
            schema:
              $ref: '#/components/schemas/PatchedLoadTestRequest'
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Name already taken.
      security:
      - k6ApiToken: []
      tags:
      - load-tests
  /load_tests/{id}/schedule:
    get:
      description: Describe a single schedule.
      operationId: load_tests_schedules_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                RepeatsEvery2HoursOnWeekends:
                  value:
                    id: 123
                    load_test_id: 234
                    active: true
                    starts: 2024-07-16T08:46:04.021Z
                    repeats:
                      frequency: hourly
                      interval: 2
                      days:
                      - saturday
                      - sunday
                    ends: null
                    next_run: 2024-07-20T01:46:04.021Z
                DailyEndsAfter10Runs:
                  value:
                    id: 123
                    load_test_id: 234
                    active: true
                    starts: 2024-07-16T08:46:04.021Z
                    repeats:
                      frequency: daily
                    ends:
                      after_runs: 10
                    next_run: 2024-07-17T08:46:04.021Z
                RunOnce:
                  value:
                    id: 123
                    load_test_id: 234
                    active: false
                    starts: 2024-08-01T12:00:00.000Z
                    repeats: null
                    ends: null
                    next_run: null
                TriggeredOnceInThePast:
                  value:
                    id: 123
                    load_test_id: 234
                    active: false
                    starts: 2023-08-01T12:00:00.000Z
                    repeats: null
                    ends: null
                    next_run: null
              schema:
                $ref: '#/components/schemas/Schedule'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Load test not found or schedule does not exist.
      security:
      - k6ApiToken: []
      tags:
      - load-tests
  /load_tests/{id}/script:
    get:
      description: |-
        Get the test script.

        The script can be either in the form of a single javascript file or a k6 .tar archive -
        the type is identified by the response content type.
      operationId: load_tests_script_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/javascript:
              schema:
                type: string
            application/x-tar:
              schema:
                format: binary
                type: string
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - load-tests
    put:
      description: |-
        Upload script for the test.

        The script can be either in the form of a single javascript file or a k6 .tar archive -
        the type is auto-detected by the API. Any received payload that is not a .tar archive
        is assumed to be a javascript file.
      operationId: load_tests_script_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - load-tests
  /load_tests/{id}/start:
    post:
      description: Start a test in the Cloud.
      operationId: load_tests_start
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Completed:
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: 321
                    created: 2024-06-24T19:44:26.46Z
                    ended: 2024-06-24T20:45:27.46Z
                    cost:
                      total_vuh: 10.0
                      breakdown:
                        protocol_vuh: 10.0
                        browser_vuh: 0.0
                    note: User-defined note for the test run.
                    retention_expiry: 2024-07-01T19:45:26.46Z
                    distribution:
                    - load_zone: amazon:us:ashburn
                      percent: 100
                    options:
                      stages:
                      - duration: 10m
                        target: 10
                      - duration: 20m
                        target: 10
                      cloud:
                        distribution:
                          amazon:us:ashburn:
                            loadZone: amazon:us:ashburn
                            percent: 100
                        projectID: 12
                    result: passed
                    result_details: {}
                    status: completed
                    status_details:
                      type: completed
                      entered: 2024-06-24T19:45:26.46Z
                    status_history:
                    - type: created
                      entered: 2024-06-24T19:44:26.46Z
                    - type: initializing
                      entered: 2024-06-24T19:44:46.46Z
                    - type: running
                      entered: 2024-06-24T19:45:26.469Z
                    - type: processing_metrics
                      entered: 2024-06-24T20:45:26.469Z
                    - type: completed
                      entered: 2024-06-24T20:45:27.469Z
                ValidationError:
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: 321
                    created: 2024-06-24T19:44:26.46Z
                    ended: 2024-06-24T20:44:36.46Z
                    cost: null
                    note: ""
                    retention_expiry: 2024-07-01T19:45:26.46Z
                    distribution: null
                    options: null
                    result: error
                    result_details:
                      message: Validation error
                      code: "123"
                    status: aborted
                    status_details:
                      type: aborted
                      entered: 2024-06-24T19:44:36.46Z
                      extra:
                        by_user: null
                        message: Validation error
                        code: "123"
                    status_history:
                    - type: created
                      entered: 2024-06-24T19:44:26.46Z
                    - type: aborted
                      entered: 2024-06-24T19:44:36.46Z
                      extra:
                        by_user: null
                        message: Validation error
                        code: "123"
              schema:
                $ref: '#/components/schemas/TestRun'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Can not run this type of test in the Cloud.
      security:
      - k6ApiToken: []
      tags:
      - load-tests
  /load_tests/{id}/test_runs:
    get:
      description: List test runs of a single load test.
      operationId: load_tests_test_runs_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - created
          - ended
          - retention_expiry
          - status
          - cost/total_vuh
        example: "created desc,ended"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: created desc
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Completed:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 1234
                      test_id: 123
                      project_id: 12
                      started_by: 321
                      created: 2024-06-24T19:44:26.46Z
                      ended: 2024-06-24T20:45:27.46Z
                      cost:
                        total_vuh: 10.0
                        breakdown:
                          protocol_vuh: 10.0
                          browser_vuh: 0.0
                      note: User-defined note for the test run.
                      retention_expiry: 2024-07-01T19:45:26.46Z
                      distribution:
                      - load_zone: amazon:us:ashburn
                        percent: 100
                      options:
                        stages:
                        - duration: 10m
                          target: 10
                        - duration: 20m
                          target: 10
                        cloud:
                          distribution:
                            amazon:us:ashburn:
                              loadZone: amazon:us:ashburn
                              percent: 100
                          projectID: 12
                      result: passed
                      result_details: {}
                      status: completed
                      status_details:
                        type: completed
                        entered: 2024-06-24T19:45:26.46Z
                      status_history:
                      - type: created
                        entered: 2024-06-24T19:44:26.46Z
                      - type: initializing
                        entered: 2024-06-24T19:44:46.46Z
                      - type: running
                        entered: 2024-06-24T19:45:26.469Z
                      - type: processing_metrics
                        entered: 2024-06-24T20:45:26.469Z
                      - type: completed
                        entered: 2024-06-24T20:45:27.469Z
                ValidationError:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 1234
                      test_id: 123
                      project_id: 12
                      started_by: 321
                      created: 2024-06-24T19:44:26.46Z
                      ended: 2024-06-24T20:44:36.46Z
                      cost: null
                      note: ""
                      retention_expiry: 2024-07-01T19:45:26.46Z
                      distribution: null
                      options: null
                      result: error
                      result_details:
                        message: Validation error
                        code: "123"
                      status: aborted
                      status_details:
                        type: aborted
                        entered: 2024-06-24T19:44:36.46Z
                        extra:
                          by_user: null
                          message: Validation error
                          code: "123"
                      status_history:
                      - type: created
                        entered: 2024-06-24T19:44:26.46Z
                      - type: aborted
                        entered: 2024-06-24T19:44:36.46Z
                        extra:
                          by_user: null
                          message: Validation error
                          code: "123"
              schema:
                $ref: '#/components/schemas/PaginatedTestRunList'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Load test not found.
      security:
      - k6ApiToken: []
      tags:
      - load-tests
  /load_zones:
    get:
      description: List all available load zones.
      operationId: load_zones_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - name
          - private
        example: "name desc,private"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: name
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                PublicLoadZones:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 123
                      name: amazon:us:ashburn
                      title: "Ashburn, US (Amazon)"
                      private: false
                      provider_name: amazon
                      provider_details:
                        region: us-east-1
                PrivateLoadZones:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 124
                      name: my-private-lz
                      title: my-private-lz
                      private: true
                      provider_name: k8s
                      provider_details: {}
              schema:
                $ref: '#/components/schemas/PaginatedLoadZoneList'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - load-zones
  /load_zones/{id}:
    delete:
      description: Delete private load zone.
      operationId: load_zones_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the private load zone to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
        "404":
          description: No response body
      security:
      - k6ApiToken: []
      tags:
      - load-zones
  /projects:
    get:
      description: List projects.
      operationId: projects_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Comma separated list of fields to use when ordering the results.
          Use `field_name desc` for descending ordering.
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          items:
            enum:
            - name
            - name desc
            - is_default
            - is_default desc
            - created
            - created desc
            - updated
            - updated desc
            type: string
          type: array
        style: form
      - description: Filter items by property values.
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: Limit number of returned records.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          type: integer
        style: form
      - description: Skip (offset) specified number of records before returning result.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Return count of items after applying any filtering.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projects_list_200_response'
          description: List of `Project` collection items
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - projects
    post:
      description: Create a new project.
      operationId: projects_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
        description: New `Project` item to be created
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Newly created entity
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Name already taken.
      security:
      - k6ApiToken: []
      tags:
      - projects
  /projects/{id}:
    delete:
      description: Delete a project.
      operationId: project_delete
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Project ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Successfully deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - projects
    get:
      description: Retrieve a single project.
      operationId: project_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Single `Project` item.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - projects
    patch:
      description: Update project fields.
      operationId: project_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              UpdateName:
                value:
                  name: New Name
              UpdateAll:
                value:
                  name: New Name
                  description: New Description
                  settings:
                    vuh_max_per_month: 200
                    vu_max_per_test: 10
                    vu_browser_max_per_test: 2
                    duration_max_per_test: 3600
              RemoveLimits:
                value:
                  settings:
                    vuh_max_per_month: null
                    vu_max_per_test: null
                    vu_browser_max_per_test: null
                    duration_max_per_test: null
            schema:
              $ref: '#/components/schemas/project_update_request'
        description: New values for an existing `Project` item.
      responses:
        "204":
          description: Successful update without any data returned
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Name already taken
      security:
      - k6ApiToken: []
      tags:
      - projects
  /projects/{id}/set_default:
    post:
      description: "Set this project as default for running tests in the organization.\
        \ This will replace the current default project, if any."
      operationId: project_set_default
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: '`set_default` successful call'
      security:
      - k6ApiToken: []
      tags:
      - projects
  /projects/{id}/load_tests:
    get:
      description: List load tests in the project.
      operationId: load_tests_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - name
          - created
          - updated
        example: "name desc,created"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: created desc
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      - description: Id of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 1234
                      project_id: 312
                      name: Orders API Soak Test
                      baseline_test_run_id: null
                      created: 2024-12-03T09:53:00.553
                      updated: 2024-12-03T09:53:00.553
              schema:
                $ref: '#/components/schemas/PaginatedLoadTestList'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - projects
    post:
      description: |-
        Create a new test in the project.

        The script can be either in the form of a single javascript file or a k6 .tar archive -
        the type is auto-detected by the API. Any received payload that is not a .tar archive
        is assumed to be a javascript file.
      operationId: projects_load_tests_create
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateLoadTestRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Success:
                  value:
                    id: 1234
                    project_id: 312
                    name: Orders API Soak Test
                    baseline_test_run_id: null
                    created: 2024-12-03T09:53:00.553
                    updated: 2024-12-03T09:53:00.553
              schema:
                $ref: '#/components/schemas/LoadTest'
          description: ""
          headers:
            Location:
              description: The URL of the created test
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Name already taken.
      security:
      - k6ApiToken: []
      tags:
      - projects
  /schedules:
    get:
      description: List all schedules.
      operationId: schedules_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - id
          - starts
          - next_run
        example: "id desc,starts"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: id
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                RepeatsEvery2HoursOnWeekends:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 123
                      load_test_id: 234
                      active: true
                      starts: 2024-07-16T08:46:04.021Z
                      repeats:
                        frequency: hourly
                        interval: 2
                        days:
                        - saturday
                        - sunday
                      ends: null
                      next_run: 2024-07-20T01:46:04.021Z
                DailyEndsAfter10Runs:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 123
                      load_test_id: 234
                      active: true
                      starts: 2024-07-16T08:46:04.021Z
                      repeats:
                        frequency: daily
                      ends:
                        after_runs: 10
                      next_run: 2024-07-17T08:46:04.021Z
                RunOnce:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 123
                      load_test_id: 234
                      active: false
                      starts: 2024-08-01T12:00:00.000Z
                      repeats: null
                      ends: null
                      next_run: null
                TriggeredOnceInThePast:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 123
                      load_test_id: 234
                      active: false
                      starts: 2023-08-01T12:00:00.000Z
                      repeats: null
                      ends: null
                      next_run: null
              schema:
                $ref: '#/components/schemas/PaginatedScheduleList'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - schedules
    post:
      description: Create a schedule for the test.
      operationId: schedules_create
      requestBody:
        content:
          application/json:
            examples:
              RepeatsEvery2HoursOnWeekends:
                value:
                  load_test_id: 234
                  starts: 2024-07-16T08:46:04.021Z
                  repeats:
                    frequency: hourly
                    interval: 2
                    days:
                    - saturday
                    - sunday
                  ends: null
              DailyEndsAfter10Runs:
                value:
                  load_test_id: 234
                  starts: 2024-07-16T08:46:04.021Z
                  repeats:
                    frequency: daily
                  ends:
                    after_runs: 10
              RunOnce:
                value:
                  load_test_id: 234
                  starts: 2024-08-01T12:00:00.000Z
                  repeats: null
                  ends: null
            schema:
              $ref: '#/components/schemas/ScheduleCreateRequestRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                RepeatsEvery2HoursOnWeekends:
                  value:
                    id: 123
                    load_test_id: 234
                    active: true
                    starts: 2024-07-16T08:46:04.021Z
                    repeats:
                      frequency: hourly
                      interval: 2
                      days:
                      - saturday
                      - sunday
                    ends: null
                    next_run: 2024-07-20T01:46:04.021Z
                DailyEndsAfter10Runs:
                  value:
                    id: 123
                    load_test_id: 234
                    active: true
                    starts: 2024-07-16T08:46:04.021Z
                    repeats:
                      frequency: daily
                    ends:
                      after_runs: 10
                    next_run: 2024-07-17T08:46:04.021Z
                RunOnce:
                  value:
                    id: 123
                    load_test_id: 234
                    active: false
                    starts: 2024-08-01T12:00:00.000Z
                    repeats: null
                    ends: null
                    next_run: null
                TriggeredOnceInThePast:
                  value:
                    id: 123
                    load_test_id: 234
                    active: false
                    starts: 2023-08-01T12:00:00.000Z
                    repeats: null
                    ends: null
                    next_run: null
              schema:
                $ref: '#/components/schemas/Schedule'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Already exists.
      security:
      - k6ApiToken: []
      tags:
      - schedules
  /schedules/{id}:
    delete:
      description: Delete a schedule.
      operationId: schedules_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the schedule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - schedules
    get:
      description: Describe a single schedule.
      operationId: schedules_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the schedule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                RepeatsEvery2HoursOnWeekends:
                  value:
                    id: 123
                    load_test_id: 234
                    active: true
                    starts: 2024-07-16T08:46:04.021Z
                    repeats:
                      frequency: hourly
                      interval: 2
                      days:
                      - saturday
                      - sunday
                    ends: null
                    next_run: 2024-07-20T01:46:04.021Z
                DailyEndsAfter10Runs:
                  value:
                    id: 123
                    load_test_id: 234
                    active: true
                    starts: 2024-07-16T08:46:04.021Z
                    repeats:
                      frequency: daily
                    ends:
                      after_runs: 10
                    next_run: 2024-07-17T08:46:04.021Z
                RunOnce:
                  value:
                    id: 123
                    load_test_id: 234
                    active: false
                    starts: 2024-08-01T12:00:00.000Z
                    repeats: null
                    ends: null
                    next_run: null
                TriggeredOnceInThePast:
                  value:
                    id: 123
                    load_test_id: 234
                    active: false
                    starts: 2023-08-01T12:00:00.000Z
                    repeats: null
                    ends: null
                    next_run: null
              schema:
                $ref: '#/components/schemas/Schedule'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - schedules
    patch:
      description: Update a schedule.
      operationId: schedules_partial_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the schedule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update:
                value:
                  starts: 2024-08-01T12:00:00.000Z
                  repeats:
                    frequency: weekly
                  ends:
                    on_date: 2024-09-30T12:00:00.000Z
              UpdateToRunOnce:
                value:
                  repeats: null
                  ends: null
            schema:
              $ref: '#/components/schemas/PatchedScheduleRequest'
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - schedules
  /schedules/{id}/activate:
    post:
      description: |-
        Activate a schedule.

        A schedule deactivates automatically after the conditions specified
        in the `ends` objects are met and can be activated again. An activated schedule behaves
        like a newly created one.

        A schedule can not be activated if the defined `ends.on_date` is past the current
        date. The end date should be updated or removed to make the activation possible.
      operationId: schedules_activate_create
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the schedule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Can not activate a schedule beyond the end date.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Already active.
      security:
      - k6ApiToken: []
      tags:
      - schedules
  /schedules/{id}/deactivate:
    post:
      description: Deactivate a schedule. A deactivated schedule will not trigger
        new test runs.
      operationId: schedules_deactivate_create
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the schedule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Already inactive.
      security:
      - k6ApiToken: []
      tags:
      - schedules
  /static_ips:
    get:
      description: |-
        List all static IPs.

        IP addresses for the newly acquired static IPs will not be available until the provisioning
        status is `provisioned`.
      operationId: static_ips_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - load_zone
          - provisioning_status
        example: "load_zone desc,provisioning_status"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: load_zone
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                SingleIP:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 123
                      ip: 176.196.131.13
                      created: 2024-07-11T14:08:31.924Z
                      provisioning_status: provisioned
                      load_zone: amazon:us:ashburn
              schema:
                $ref: '#/components/schemas/PaginatedStaticIPList'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - static-ips
  /static_ips/acquire:
    post:
      description: |-
        Acquire multiple static IPs in the provided load zones.

        Static IPs are allocated asynchronously. The IP addresses will be available only after
        the provisioning status is `provisioned`.
      operationId: static_ips_acquire_create
      parameters:
      - $ref: '#/components/parameters/stackId'
      requestBody:
        content:
          application/json:
            examples:
              AcquireMultiple:
                value:
                  load_zones:
                  - load_zone: amazon:us:ashburn
                    count: 2
                  - load_zone: amazon:gb:london
                    count: 1
            schema:
              $ref: '#/components/schemas/StaticIPAcquireRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                MultipleIPs:
                  value:
                    value:
                    - id: 123
                      ip: 176.196.131.13
                      created: 2024-07-11T14:08:31.924Z
                      provisioning_status: provisioning
                      load_zone: amazon:us:ashburn
                    - id: 124
                      ip: 176.196.131.14
                      created: 2024-07-11T14:08:31.924Z
                      provisioning_status: provisioning
                      load_zone: amazon:us:ashburn
                    - id: 125
                      ip: 131.196.176.13
                      created: 2024-07-11T14:08:31.924Z
                      provisioning_status: provisioning
                      load_zone: amazon:gb:london
              schema:
                $ref: '#/components/schemas/StaticIPList'
          description: List of the Static IPs being provisioned.
        "400":
          description: Validation error or reached the max limit of Static IPs. Please
            contact the support if you need to increase the limit.
      security:
      - k6ApiToken: []
      tags:
      - static-ips
  /static_ips/release:
    post:
      description: Release and eventually delete multiple static IPs.
      operationId: static_ips_release_create
      parameters:
      - $ref: '#/components/parameters/stackId'
      requestBody:
        content:
          application/json:
            examples:
              SingleIP:
                value:
                  ids:
                  - 123
            schema:
              $ref: '#/components/schemas/StaticIPReleaseRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                SingleIP:
                  value:
                    value:
                    - id: 123
                      ip: 176.196.131.13
                      created: 2024-07-11T14:08:31.924Z
                      provisioning_status: releasing
                      load_zone: amazon:us:ashburn
              schema:
                $ref: '#/components/schemas/StaticIPList'
          description: List of the Static IPs being released.
        "400":
          description: Validation error.
        "409":
          description: Can not release unacquired IP.
      security:
      - k6ApiToken: []
      tags:
      - static-ips
  /test_runs:
    get:
      description: List load test runs.
      operationId: test_runs_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - created
          - ended
          - retention_expiry
          - status
          - cost/total_vuh
        example: "created desc,ended"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: created desc
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Completed:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 1234
                      test_id: 123
                      project_id: 12
                      started_by: 321
                      created: 2024-06-24T19:44:26.46Z
                      ended: 2024-06-24T20:45:27.46Z
                      cost:
                        total_vuh: 10.0
                        breakdown:
                          protocol_vuh: 10.0
                          browser_vuh: 0.0
                      note: User-defined note for the test run.
                      retention_expiry: 2024-07-01T19:45:26.46Z
                      distribution:
                      - load_zone: amazon:us:ashburn
                        percent: 100
                      options:
                        stages:
                        - duration: 10m
                          target: 10
                        - duration: 20m
                          target: 10
                        cloud:
                          distribution:
                            amazon:us:ashburn:
                              loadZone: amazon:us:ashburn
                              percent: 100
                          projectID: 12
                      result: passed
                      result_details: {}
                      status: completed
                      status_details:
                        type: completed
                        entered: 2024-06-24T19:45:26.46Z
                      status_history:
                      - type: created
                        entered: 2024-06-24T19:44:26.46Z
                      - type: initializing
                        entered: 2024-06-24T19:44:46.46Z
                      - type: running
                        entered: 2024-06-24T19:45:26.469Z
                      - type: processing_metrics
                        entered: 2024-06-24T20:45:26.469Z
                      - type: completed
                        entered: 2024-06-24T20:45:27.469Z
                ValidationError:
                  value:
                    '@count': 123
                    '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
                    value:
                    - id: 1234
                      test_id: 123
                      project_id: 12
                      started_by: 321
                      created: 2024-06-24T19:44:26.46Z
                      ended: 2024-06-24T20:44:36.46Z
                      cost: null
                      note: ""
                      retention_expiry: 2024-07-01T19:45:26.46Z
                      distribution: null
                      options: null
                      result: error
                      result_details:
                        message: Validation error
                        code: "123"
                      status: aborted
                      status_details:
                        type: aborted
                        entered: 2024-06-24T19:44:36.46Z
                        extra:
                          by_user: null
                          message: Validation error
                          code: "123"
                      status_history:
                      - type: created
                        entered: 2024-06-24T19:44:26.46Z
                      - type: aborted
                        entered: 2024-06-24T19:44:36.46Z
                        extra:
                          by_user: null
                          message: Validation error
                          code: "123"
              schema:
                $ref: '#/components/schemas/PaginatedTestRunList'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - test-runs
  /test_runs/{id}:
    delete:
      description: Delete a load test run.
      operationId: test_runs_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Can not delete while the test is running.
      security:
      - k6ApiToken: []
      tags:
      - test-runs
    get:
      description: Describe a single load test run.
      operationId: test_runs_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Completed:
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: 321
                    created: 2024-06-24T19:44:26.46Z
                    ended: 2024-06-24T20:45:27.46Z
                    cost:
                      total_vuh: 10.0
                      breakdown:
                        protocol_vuh: 10.0
                        browser_vuh: 0.0
                    note: User-defined note for the test run.
                    retention_expiry: 2024-07-01T19:45:26.46Z
                    distribution:
                    - load_zone: amazon:us:ashburn
                      percent: 100
                    options:
                      stages:
                      - duration: 10m
                        target: 10
                      - duration: 20m
                        target: 10
                      cloud:
                        distribution:
                          amazon:us:ashburn:
                            loadZone: amazon:us:ashburn
                            percent: 100
                        projectID: 12
                    result: passed
                    result_details: {}
                    status: completed
                    status_details:
                      type: completed
                      entered: 2024-06-24T19:45:26.46Z
                    status_history:
                    - type: created
                      entered: 2024-06-24T19:44:26.46Z
                    - type: initializing
                      entered: 2024-06-24T19:44:46.46Z
                    - type: running
                      entered: 2024-06-24T19:45:26.469Z
                    - type: processing_metrics
                      entered: 2024-06-24T20:45:26.469Z
                    - type: completed
                      entered: 2024-06-24T20:45:27.469Z
                ValidationError:
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: 321
                    created: 2024-06-24T19:44:26.46Z
                    ended: 2024-06-24T20:44:36.46Z
                    cost: null
                    note: ""
                    retention_expiry: 2024-07-01T19:45:26.46Z
                    distribution: null
                    options: null
                    result: error
                    result_details:
                      message: Validation error
                      code: "123"
                    status: aborted
                    status_details:
                      type: aborted
                      entered: 2024-06-24T19:44:36.46Z
                      extra:
                        by_user: null
                        message: Validation error
                        code: "123"
                    status_history:
                    - type: created
                      entered: 2024-06-24T19:44:26.46Z
                    - type: aborted
                      entered: 2024-06-24T19:44:36.46Z
                      extra:
                        by_user: null
                        message: Validation error
                        code: "123"
              schema:
                $ref: '#/components/schemas/TestRun'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - test-runs
  /test_runs/{id}/abort:
    post:
      description: Abort a running test.
      operationId: test_runs_abort
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "202":
          description: No response body
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Can not abort a non-running test.
      security:
      - k6ApiToken: []
      tags:
      - test-runs
  /test_runs/{id}/note:
    put:
      description: Update load test run note.
      operationId: test_runs_note_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update:
                value:
                  value: This test run has custom description.
            schema:
              $ref: '#/components/schemas/TestRunUpdateNoteRequest'
        required: true
      responses:
        "204":
          description: No response body
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - test-runs
  /test_runs/{id}/save:
    post:
      description: |-
        Persist test run result data to keep it past the data-retention period.

        See
        https://grafana.com/docs/grafana-cloud/cost-management-and-billing/understand-your-invoice/k6-invoice/#data-retention
      operationId: test_runs_save
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Test run results data is already deleted or no available save
            slots left.
      security:
      - k6ApiToken: []
      tags:
      - test-runs
  /test_runs/{id}/script:
    get:
      description: |-
        Get the test run script.

        The script can be either in the form of a single javascript file or a k6 .tar archive -
        the type is identified by the response content type.
      operationId: test_runs_script_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/javascript:
              schema:
                type: string
            application/x-tar:
              schema:
                format: binary
                type: string
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - test-runs
  /test_runs/{id}/unsave:
    post:
      description: |-
        Disable persistence of the test run result data past the data-retention period.
        The data will be automatically deleted at the end of the retention period.

        See
        https://grafana.com/docs/grafana-cloud/cost-management-and-billing/understand-your-invoice/k6-invoice/#data-retention
      operationId: test_runs_unsave
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - test-runs
  /validate_options:
    post:
      description: |-
        Verify a test can be run in the Cloud with the provided k6 script options.

        Project ID can be specified in the root object as well as under `options.cloud`.
      operationId: validate_options
      parameters:
      - $ref: '#/components/parameters/stackId'
      requestBody:
        content:
          application/json:
            examples:
              ProjectIdInOptions:
                value:
                  options:
                    stages:
                    - duration: 1m
                      target: 20
                    - duration: 3m
                      target: 20
                    - duration: 30s
                      target: 0
                    cloud:
                      distribution:
                        amazon:us:ashburn:
                          loadZone: amazon:us:ashburn
                          percent: 100
                      projectID: 123456
            schema:
              $ref: '#/components/schemas/ValidateOptionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value:
                    vuh_usage: 1.5
              schema:
                $ref: '#/components/schemas/ValidateOptionsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - load-tests
  /variables:
    get:
      description: |-
        List all environment variables in the stack. The values are accessible only by
        the stack owner and admins.
      operationId: variables_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as '@count'.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma separated list of fields to use when ordering the results. The default order is ascending and can be reversed by appending `desc` specifier. Available fields:
          - name
          - created
          - updated
        example: "name desc,created"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          default: name
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStackEnvVarList'
          description: ""
      security:
      - k6ApiToken: []
      tags:
      - variables
    post:
      description: Create a new environment variable in the stack. Requires admin/owner
        permissions.
      operationId: variables_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStackEnvVarRequestRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StackEnvVar'
          description: ""
        "400":
          description: Validation error.
        "409":
          description: Name already taken or reached the max number of variables.
      security:
      - k6ApiToken: []
      tags:
      - variables
  /variables/{id}:
    delete:
      description: Delete an environment variable. Requires admin/owner permissions.
      operationId: variables_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id or name of the variable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - k6ApiToken: []
      tags:
      - variables
    patch:
      description: Update an environment variable. Requires admin/owner permissions.
      operationId: variables_partial_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Id or name of the variable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedStackEnvVarRequest'
      responses:
        "204":
          description: No response body
        "400":
          description: Validation error.
      security:
      - k6ApiToken: []
      tags:
      - variables
components:
  parameters:
    stackId:
      description: |
        Numeric ID of the Grafana stack representing the request scope.
        - If the API is called with a *Personal API token*, the user must be a member of the specified stack.
        - If the API is called with a *Grafana Stack API token*, the value must be the ID of the corresponding stack.
      explode: false
      in: header
      name: X-Stack-Id
      required: true
      schema:
        type: string
      style: simple
  schemas:
    ApiError:
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        message:
          description: Human-readable string describing the error
          type: string
        code:
          description: Service-defined error code
          type: string
        target:
          description: "A string indicating the target of the error, for example,\
            \ the name of the property in error"
          type: string
        details:
          description: Array of objects with more specific error information when
            applicable
          items:
            $ref: '#/components/schemas/ApiErrorDetail'
          type: array
      required:
      - code
      - details
      - message
    ApiErrorDetail:
      example:
        code: code
        message: message
        target: target
      properties:
        message:
          description: Human-readable string describing the error
          type: string
        code:
          description: Service-defined error code
          type: string
        target:
          description: "A string indicating the target of the error, for example,\
            \ the name of the property in error"
          type: string
      required:
      - code
      - message
    ApiErrorResponse:
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      required:
      - error
    CreateLoadTestRequest:
      properties:
        name:
          description: Unique name of the test within the project
          maxLength: 300
          minLength: 1
          type: string
        script:
          description: k6 script file that is executed when the test is started
          format: binary
          type: string
      required:
      - name
      - script
    CreateProjectRequest:
      example:
        settings:
          vu_max_per_test: 1
          duration_max_per_test: 5
          vu_browser_max_per_test: 5
          vuh_max_per_month: 6
        name: name
        description: description
      properties:
        name:
          description: Project name.
          readOnly: false
          type: string
        description:
          description: Project description.
          readOnly: false
          type: string
        settings:
          $ref: '#/components/schemas/ProjectSettings'
      required:
      - name
    CreateStackEnvVarRequestRequest:
      example:
        name: name
        description: description
        value: value
      properties:
        name:
          description: Name of the variable.
          maxLength: 100
          minLength: 1
          type: string
        value:
          description: Variable value.
          maxLength: 5000
          minLength: 1
          type: string
        description:
          description: Description of the variable.
          type: string
          nullable: true
      required:
      - name
      - value
    LoadTest:
      example:
        baseline_test_run_id: 1
        project_id: 6
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        id: 0
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Id of the load test
          readOnly: true
          type: integer
        project_id:
          description: Id of the parent project
          readOnly: true
          type: integer
        name:
          description: Unique name of the test within the project
          maxLength: 300
          type: string
        baseline_test_run_id:
          description: Id of a baseline test run used for results comparison
          type: integer
          nullable: true
        created:
          description: The date when the test was created
          format: date-time
          readOnly: true
          type: string
        updated:
          description: The date when the test was last time updated
          format: date-time
          readOnly: true
          type: string
      required:
      - baseline_test_run_id
      - created
      - id
      - name
      - project_id
      - updated
    LoadZone:
      example:
        provider_details:
          key: ""
        private: true
        name: name
        id: 0
        title: title
        provider_name: provider_name
      properties:
        id:
          description: Id of the load zone.
          readOnly: true
          type: integer
        name:
          description: Unique load zone name used in k6 script.
          readOnly: true
          type: string
          nullable: true
        title:
          description: Human readable load zone name.
          readOnly: true
          type: string
        private:
          description: If the load zone is a private load zone owned by the organization.
          type: boolean
        provider_name:
          description: "Name of the load zone provider. Usually, `amazon` for public\
            \ load zones and `k8s` for the private ones."
          readOnly: true
          type: string
        provider_details:
          additionalProperties: {}
          description: Provider specific details.
      required:
      - id
      - name
      - private
      - provider_details
      - provider_name
      - title
    PaginatedLoadTestList:
      example:
        '@count': 123
        '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
        value:
        - baseline_test_run_id: 1
          project_id: 6
          created: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 0
          updated: 2000-01-23T04:56:07.000+00:00
        - baseline_test_run_id: 1
          project_id: 6
          created: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 0
          updated: 2000-01-23T04:56:07.000+00:00
      properties:
        '@count':
          description: Object count in the collection
          example: 123
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          example: http://api.example.org/accounts/?$skip=400&$top=100
          format: uri
          type: string
        value:
          description: List of the resulting values
          items:
            $ref: '#/components/schemas/LoadTest'
          type: array
      required:
      - value
    PaginatedLoadZoneList:
      example:
        '@count': 123
        '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
        value:
        - provider_details:
            key: ""
          private: true
          name: name
          id: 0
          title: title
          provider_name: provider_name
        - provider_details:
            key: ""
          private: true
          name: name
          id: 0
          title: title
          provider_name: provider_name
      properties:
        '@count':
          description: Object count in the collection
          example: 123
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          example: http://api.example.org/accounts/?$skip=400&$top=100
          format: uri
          type: string
        value:
          description: List of the resulting values
          items:
            $ref: '#/components/schemas/LoadZone'
          type: array
      required:
      - value
    PaginatedScheduleList:
      example:
        '@count': 123
        '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
        value:
        - repeats:
            days:
            - monday
            - monday
            interval: 1
            frequency: hourly
          next_run: 2000-01-23T04:56:07.000+00:00
          ends:
            after_runs: 1
            on_date: 2000-01-23T04:56:07.000+00:00
          active: true
          id: 0
          starts: 2000-01-23T04:56:07.000+00:00
          load_test_id: 6
        - repeats:
            days:
            - monday
            - monday
            interval: 1
            frequency: hourly
          next_run: 2000-01-23T04:56:07.000+00:00
          ends:
            after_runs: 1
            on_date: 2000-01-23T04:56:07.000+00:00
          active: true
          id: 0
          starts: 2000-01-23T04:56:07.000+00:00
          load_test_id: 6
      properties:
        '@count':
          description: Object count in the collection
          example: 123
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          example: http://api.example.org/accounts/?$skip=400&$top=100
          format: uri
          type: string
        value:
          description: List of the resulting values
          items:
            $ref: '#/components/schemas/Schedule'
          type: array
      required:
      - value
    PaginatedStackEnvVarList:
      example:
        '@count': 123
        '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
        value:
        - created: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          id: 0
          value: value
          updated: 2000-01-23T04:56:07.000+00:00
        - created: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          id: 0
          value: value
          updated: 2000-01-23T04:56:07.000+00:00
      properties:
        '@count':
          description: Object count in the collection
          example: 123
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          example: http://api.example.org/accounts/?$skip=400&$top=100
          format: uri
          type: string
        value:
          description: List of the resulting values
          items:
            $ref: '#/components/schemas/StackEnvVar'
          type: array
      required:
      - value
    PaginatedStaticIPList:
      example:
        '@count': 123
        '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
        value:
        - load_zone: load_zone
          created: 2000-01-23T04:56:07.000+00:00
          ip: ip
          provisioning_status: provisioning
          id: 0
        - load_zone: load_zone
          created: 2000-01-23T04:56:07.000+00:00
          ip: ip
          provisioning_status: provisioning
          id: 0
      properties:
        '@count':
          description: Object count in the collection
          example: 123
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          example: http://api.example.org/accounts/?$skip=400&$top=100
          format: uri
          type: string
        value:
          description: List of the resulting values
          items:
            $ref: '#/components/schemas/StaticIP'
          type: array
      required:
      - value
    PaginatedTestRunList:
      example:
        '@count': 123
        '@nextLink': http://api.example.org/accounts/?$skip=400&$top=100
        value:
        - note: note
          cost:
            total_vuh: 127475331326665728
            breakdown: ""
          created: 2000-01-23T04:56:07.000+00:00
          retention_expiry: 2000-01-23T04:56:07.000+00:00
          status_history:
          - extra:
              code: code
              message: message
              by_user: 2
            entered: 2000-01-23T04:56:07.000+00:00
            type: created
          - extra:
              code: code
              message: message
              by_user: 2
            entered: 2000-01-23T04:56:07.000+00:00
            type: created
          distribution:
          - load_zone: load_zone
            percent: 7
          - load_zone: load_zone
            percent: 7
          result_details:
            key: ""
          result: passed
          project_id: 1
          ended: 2000-01-23T04:56:07.000+00:00
          options:
            key: ""
          id: 0
          started_by: 5
          status_details: ""
          test_id: 6
          status: status
        - note: note
          cost:
            total_vuh: 127475331326665728
            breakdown: ""
          created: 2000-01-23T04:56:07.000+00:00
          retention_expiry: 2000-01-23T04:56:07.000+00:00
          status_history:
          - extra:
              code: code
              message: message
              by_user: 2
            entered: 2000-01-23T04:56:07.000+00:00
            type: created
          - extra:
              code: code
              message: message
              by_user: 2
            entered: 2000-01-23T04:56:07.000+00:00
            type: created
          distribution:
          - load_zone: load_zone
            percent: 7
          - load_zone: load_zone
            percent: 7
          result_details:
            key: ""
          result: passed
          project_id: 1
          ended: 2000-01-23T04:56:07.000+00:00
          options:
            key: ""
          id: 0
          started_by: 5
          status_details: ""
          test_id: 6
          status: status
      properties:
        '@count':
          description: Object count in the collection
          example: 123
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          example: http://api.example.org/accounts/?$skip=400&$top=100
          format: uri
          type: string
        value:
          description: List of the resulting values
          items:
            $ref: '#/components/schemas/TestRun'
          type: array
      required:
      - value
    PatchedLoadTestRequest:
      example:
        baseline_test_run_id: 0
        name: name
      properties:
        name:
          description: Unique name of the test within the project
          maxLength: 300
          minLength: 1
          type: string
        baseline_test_run_id:
          description: Id of a baseline test run used for results comparison
          type: integer
          nullable: true
    PatchedScheduleRequest:
      example:
        repeats:
          days:
          - monday
          - monday
          interval: 1
          frequency: hourly
        ends:
          after_runs: 1
          on_date: 2000-01-23T04:56:07.000+00:00
        starts: 2000-01-23T04:56:07.000+00:00
      properties:
        starts:
          description: The date after which the schedule will start running the test.
          format: date-time
          type: string
          nullable: true
        repeats:
          $ref: '#/components/schemas/PatchedScheduleRequest_repeats'
        ends:
          $ref: '#/components/schemas/PatchedScheduleRequest_ends'
    PatchedStackEnvVarRequest:
      example:
        name: name
        description: description
        value: value
      properties:
        name:
          description: Name of the variable.
          maxLength: 100
          minLength: 1
          type: string
        value:
          description: Variable value.
          maxLength: 5000
          minLength: 1
          type: string
        description:
          description: Description of the variable.
          type: string
          nullable: true
    Project:
      example:
        settings:
          vu_max_per_test: 1
          duration_max_per_test: 5
          vu_browser_max_per_test: 5
          vuh_max_per_month: 6
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        description: description
        id: 0
        is_default: true
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Project ID.
          format: int64
          readOnly: true
          type: integer
        name:
          description: Project name.
          readOnly: false
          type: string
        description:
          description: Project description.
          readOnly: false
          type: string
        is_default:
          description: Use this project as default for running test when no explicit
            project ID is provided.
          readOnly: true
          type: boolean
        settings:
          $ref: '#/components/schemas/ProjectSettings'
        created:
          description: The date when the project was created.
          format: date-time
          readOnly: true
          type: string
        updated:
          description: The date when the project was last time updated.
          format: date-time
          readOnly: true
          type: string
      required:
      - created
      - description
      - id
      - is_default
      - name
      - settings
      - updated
    ProjectSettings:
      example:
        vu_max_per_test: 1
        duration_max_per_test: 5
        vu_browser_max_per_test: 5
        vuh_max_per_month: 6
      properties:
        vuh_max_per_month:
          description: Max amount of virtual user hours (VUh) used per one calendar
            month.
          format: int32
          readOnly: false
          type: integer
          nullable: true
        vu_max_per_test:
          description: Max number of concurrent virtual users (VUs) used in one test.
          format: int32
          readOnly: false
          type: integer
          nullable: true
        vu_browser_max_per_test:
          description: Max number of concurrent browser virtual users (VUs) used in
            one test.
          format: int32
          readOnly: false
          type: integer
          nullable: true
        duration_max_per_test:
          description: Max duration of a test in seconds.
          format: int32
          readOnly: false
          type: integer
          nullable: true
      required:
      - duration_max_per_test
      - vu_browser_max_per_test
      - vu_max_per_test
      - vuh_max_per_month
    Schedule:
      example:
        repeats:
          days:
          - monday
          - monday
          interval: 1
          frequency: hourly
        next_run: 2000-01-23T04:56:07.000+00:00
        ends:
          after_runs: 1
          on_date: 2000-01-23T04:56:07.000+00:00
        active: true
        id: 0
        starts: 2000-01-23T04:56:07.000+00:00
        load_test_id: 6
      properties:
        id:
          description: Id of the schedule.
          readOnly: true
          type: integer
        load_test_id:
          description: Id of the test to run.
          readOnly: true
          type: integer
        active:
          description: Id of the schedule.
          readOnly: true
          type: boolean
        starts:
          description: The date after which the schedule will start running the test.
          format: date-time
          type: string
          nullable: true
        repeats:
          $ref: '#/components/schemas/Schedule_repeats'
        ends:
          $ref: '#/components/schemas/Schedule_ends'
        next_run:
          description: "The date of the next scheduled test run. If the schedule is\
            \ inactive or past the end date or all runs have been used up, the value\
            \ is null."
          format: date-time
          readOnly: true
          type: string
          nullable: true
      required:
      - active
      - ends
      - id
      - load_test_id
      - next_run
      - repeats
      - starts
    ScheduleCreateRequestRequest:
      example:
        repeats:
          days:
          - monday
          - monday
          interval: 1
          frequency: hourly
        ends:
          after_runs: 1
          on_date: 2000-01-23T04:56:07.000+00:00
        starts: 2000-01-23T04:56:07.000+00:00
        load_test_id: 0
      properties:
        load_test_id:
          description: Id of the test to run.
          type: integer
        starts:
          description: The date after which the schedule will start running the test.
          format: date-time
          type: string
          nullable: true
        repeats:
          $ref: '#/components/schemas/PatchedScheduleRequest_repeats'
        ends:
          $ref: '#/components/schemas/PatchedScheduleRequest_ends'
      required:
      - ends
      - load_test_id
      - repeats
      - starts
    ScheduleEnds:
      example:
        after_runs: 1
        on_date: 2000-01-23T04:56:07.000+00:00
      properties:
        on_date:
          description: A datetime instance specifying the upper-bound limit of the
            recurrence.
          format: date-time
          type: string
        after_runs:
          description: Determines how many times the schedule will start the test.
          minimum: 1
          type: integer
    ScheduleEndsRequest:
      example:
        after_runs: 1
        on_date: 2000-01-23T04:56:07.000+00:00
      properties:
        on_date:
          description: A datetime instance specifying the upper-bound limit of the
            recurrence.
          format: date-time
          type: string
        after_runs:
          description: Determines how many times the schedule will start the test.
          minimum: 1
          type: integer
    ScheduleRepeats:
      example:
        days:
        - monday
        - monday
        interval: 1
        frequency: hourly
      properties:
        frequency:
          description: |-
            The unit type of the recurrence interval.

            * `hourly` - hourly
            * `daily` - daily
            * `weekly` - weekly
            * `monthly` - monthly
            * `yearly` - yearly
          enum:
          - hourly
          - daily
          - weekly
          - monthly
          - yearly
          type: string
          x-spec-enum-id: 3de4292b8f1974e3
        interval:
          default: 1
          description: The interval between each freq iteration. An interval of 2
            with 'hourly' frequency means once every 2 hours.
          minimum: 1
          type: integer
        days:
          description: "When given, define the days of the week where the recurrence\
            \ will be applied. The default is every day of the week."
          items:
            description: |-
              * `monday` - monday
              * `tuesday` - tuesday
              * `wednesday` - wednesday
              * `thursday` - thursday
              * `friday` - friday
              * `saturday` - saturday
              * `sunday` - sunday
            enum:
            - monday
            - tuesday
            - wednesday
            - thursday
            - friday
            - saturday
            - sunday
            type: string
            x-spec-enum-id: abec3bc0521eb9a1
          type: array
[...]
