openapi: 3.1.0
info:
  contact:
    email: info@grafana.com
    name: Grafana Support
    url: https://grafana.com/help/
  description: HTTP API for interacting with Grafana Cloud k6.
  title: Grafana Cloud k6
  version: 1.0.0
servers:
- description: Global k6 Cloud API.
  url: https://api.k6.io
tags:
- description: API endpoints for managing and starting tests.
  name: load_tests
- description: API endpoints for managing projects.
  name: projects
- description: API endpoints for managing test runs.
  name: test_runs
paths:
  /cloud/v6/load_tests:
    get:
      description: List all available tests.
      operationId: load_tests_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as `@count`.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma-separated list of fields to use when ordering the results. Available fields:
          - id
          - project_id
          - name
          - created
          - updated

          The default ascending order can be reversed by appending the `desc` specifier.
        examples:
          Multiple:
            value: "id desc,project_id"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    value:
                    - id: 1234
                      project_id: 312
                      name: Orders API Soak Test
                      baseline_test_run_id: null
                      created: 2024-12-03T09:53:00.553
                      updated: 2024-12-03T09:53:00.553
                    '@count': 123
                    '@nextLink': https://api.k6.io/cloud/v6/load_tests?$skip=50&$top=20
              schema:
                $ref: '#/components/schemas/LoadTestListResponse'
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: List all tests.
      tags:
      - load_tests
  /cloud/v6/load_tests/{id}/test_runs:
    get:
      description: List all runs of a load test.
      operationId: load_tests_test_runs_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as `@count`.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      - description: ID of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    value:
                    - id: 1234
                      test_id: 123
                      project_id: 12
                      started_by: user@example.com
                      created: 2024-06-01T19:00:00Z
                      ended: null
                      cost:
                        total_vuh: 10.0
                        breakdown:
                          protocol_vuh: 10.0
                          browser_vuh: 0.0
                      note: User-defined note for the test run.
                      retention_expiry: 2024-07-01T19:30:30Z
                      distribution:
                      - load_zone: amazon:us:ashburn
                        percent: 100
                      options:
                        stages:
                        - duration: 10m
                          target: 10
                        - duration: 20m
                          target: 10
                        cloud:
                          distribution:
                            amazon:us:ashburn:
                              loadZone: amazon:us:ashburn
                              percent: 100
                          projectID: 12
                      result: null
                      result_details: {}
                      status: running
                      status_details:
                        type: running
                        entered: 2024-06-01T19:00:20Z
                      status_history:
                      - type: created
                        entered: 2024-06-01T19:00:00Z
                      - type: initializing
                        entered: 2024-06-01T19:00:10Z
                      - type: running
                        entered: 2024-06-01T19:00:20Z
                    '@count': 123
                    '@nextLink': https://api.k6.io/cloud/v6/load_tests/123/test_runs?$skip=50&$top=20
              schema:
                $ref: '#/components/schemas/TestRunListResponse'
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: List all runs of a load test.
      tags:
      - test_runs
  /cloud/v6/load_tests/{id}:
    delete:
      description: Delete a load test.
      operationId: load_tests_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: OK.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiModel'
          description: Cannot delete test while it's running.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Delete a load test.
      tags:
      - load_tests
    get:
      description: Fetch a single load test.
      operationId: load_tests_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    id: 1234
                    project_id: 312
                    name: Orders API Soak Test
                    baseline_test_run_id: null
                    created: 2024-12-03T09:53:00.553
                    updated: 2024-12-03T09:53:00.553
              schema:
                $ref: '#/components/schemas/LoadTestApiModel'
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Get a load test by ID.
      tags:
      - load_tests
    patch:
      description: Update a load test.
      operationId: load_tests_partial_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update:
                value:
                  name: New Test Name
                  baseline_test_run_id: 123
            schema:
              $ref: '#/components/schemas/PatchLoadTestApiModel'
      responses:
        "204":
          description: OK.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiModel'
          description: The name is already taken.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Update a load test.
      tags:
      - load_tests
  /cloud/v6/load_tests/{id}/script:
    get:
      description: |-
        Download the test script.

        The script can be either in the form of a single JavaScript file or a k6 .tar archive -
        the type is identified by the request content type.
      operationId: load_tests_script_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/javascript:
              examples:
                TextScript:
                  summary: Text Script
                  value: |
                    import http from 'k6/http';
                    import { sleep } from 'k6';

                    export const options = {
                      vus: 10,
                      duration: '30s',
                      cloud: {
                        // Project: Default project
                        projectID: 3684621,
                        // Test runs with the same name groups test runs together.
                        name: 'Test (04/12/2024-20:28:06)'
                      }
                    };

                    export default function() {
                      http.get('https://test.k6.io');
                      sleep(1);
                    }
              schema:
                type: string
            application/x-tar:
              examples:
                K6ArchiveScript:
                  summary: K6 Archive Script
                  value: (.tar data)
              schema:
                format: binary
                type: string
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Download the test script.
      tags:
      - load_tests
    put:
      description: |-
        Upload the script for a test.

        The script can be either in the form of a single JavaScript text file or a k6 .tar archive -
        the type is auto-detected by the API. Any received payload that is not a .tar archive
        is assumed to be a JavaScript file.
      operationId: load_tests_script_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/octet-stream:
            examples:
              TextScript:
                summary: Text Script
                value: |
                  import http from 'k6/http';
                  import { sleep } from 'k6';

                  export const options = {
                    vus: 10,
                    duration: '30s',
                    cloud: {
                      // Project: Default project
                      projectID: 3684621,
                      // Test runs with the same name groups test runs together.
                      name: 'Test (04/12/2024-20:28:06)'
                    }
                  };

                  export default function() {
                    http.get('https://test.k6.io');
                    sleep(1);
                  }
              K6ArchiveScript:
                summary: K6 Archive Script
                value: (.tar data)
            schema:
              format: binary
              type: string
      responses:
        "204":
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Upload the script for a test.
      tags:
      - load_tests
  /cloud/v6/load_tests/{id}/start:
    post:
      description: Start a test in Grafana Cloud.
      operationId: load_tests_start
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Started:
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: user@example.com
                    created: 2024-06-01T19:00:00Z
                    ended: null
                    cost: null
                    note: ""
                    retention_expiry: 2024-06-07T19:00:00Z
                    distribution: null
                    options: null
                    result: null
                    result_details: null
                    status: created
                    status_details:
                      type: created
                      entered: 2024-06-01T19:00:00Z
                    status_history:
                    - type: created
                      entered: 2024-06-01T19:00:00Z
              schema:
                $ref: '#/components/schemas/TestRunApiModel'
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Start a test in Grafana Cloud.
      tags:
      - load_tests
  /cloud/v6/projects:
    get:
      description: List all available projects.
      operationId: projects_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as `@count`.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma-separated list of fields to use when ordering the results. Available fields:
          - created

          The default ascending order can be reversed by appending the `desc` specifier.
        examples:
          Simple:
            value: created desc
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    value:
                    - id: 123
                      name: My Project
                      is_default: false
                      created: 2024-12-04T19:57:46.339Z
                      updated: 2024-12-04T19:57:46.339Z
                    '@count': 123
                    '@nextLink': https://api.k6.io/cloud/v6/projects?$skip=50&$top=20
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: List all projects.
      tags:
      - projects
    post:
      description: Create a new project.
      operationId: projects_create
      parameters:
      - $ref: '#/components/parameters/stackId'
      requestBody:
        content:
          application/json:
            examples:
              Create:
                value:
                  name: My Project
            schema:
              $ref: '#/components/schemas/CreateProjectApiModel'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                OK:
                  value:
                    id: 123
                    name: My Project
                    is_default: false
                    created: 2024-12-04T19:57:46.339Z
                    updated: 2024-12-04T19:57:46.339Z
              schema:
                $ref: '#/components/schemas/ProjectApiModel'
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Create a project.
      tags:
      - projects
  /cloud/v6/projects/{id}/limits:
    get:
      description: Fetch limits for a project.
      operationId: projects_limits_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the project.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    project_id: 123
                    vuh_max_per_month: 50
                    vu_max_per_test: null
                    vu_browser_max_per_test: 5
                    duration_max_per_test: 600
              schema:
                $ref: '#/components/schemas/ProjectLimitsApiModel'
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Get project limits.
      tags:
      - projects
    patch:
      description: |-
        Update limits for a project.

        Set a limit to `null` to remove it.
      operationId: projects_limits_partial_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the project.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              UpdateAll:
                summary: Update All
                value:
                  vuh_max_per_month: 50
                  vu_max_per_test: 20
                  vu_browser_max_per_test: 5
                  duration_max_per_test: 600
              UpdateSingle:
                summary: Update Single
                value:
                  vuh_max_per_month: 55
              RemoveAll:
                summary: Remove All
                value:
                  vuh_max_per_month: null
                  vu_max_per_test: null
                  vu_browser_max_per_test: null
                  duration_max_per_test: null
              RemoveSingle:
                summary: Remove Single
                value:
                  duration_max_per_test: null
            schema:
              $ref: '#/components/schemas/PatchProjectLimitsRequest'
      responses:
        "204":
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Update project limits.
      tags:
      - projects
  /cloud/v6/projects/{id}/load_tests:
    get:
      description: List load tests in a project.
      operationId: projects_load_tests_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as `@count`.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Comma-separated list of fields to use when ordering the results. Available fields:
          - id
          - project_id
          - name
          - created
          - updated

          The default ascending order can be reversed by appending the `desc` specifier.
        examples:
          Multiple:
            value: "id desc,project_id"
        explode: true
        in: query
        name: $orderby
        required: false
        schema:
          type: string
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      - description: ID of the project.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    value:
                    - id: 1234
                      project_id: 312
                      name: Orders API Soak Test
                      baseline_test_run_id: null
                      created: 2024-12-03T09:53:00.553
                      updated: 2024-12-03T09:53:00.553
                    '@count': 123
                    '@nextLink': https://api.k6.io/cloud/v6/projects/312/load_tests?$skip=50&$top=20
              schema:
                $ref: '#/components/schemas/LoadTestListResponse'
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: List load tests in a project.
      tags:
      - load_tests
    post:
      description: |-
        Create a new test in the project.

        The script can be either in the form of a single JavaScript text file or a k6 .tar archive -
        the type is auto-detected by the API. Any received payload that is not a .tar archive
        is assumed to be a JavaScript file.
      operationId: projects_load_tests_create
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the project.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            examples:
              TextScript:
                summary: Text Script
                value:
                  name: Orders API Soak Test
                  script: |
                    import http from 'k6/http';
                    import { sleep } from 'k6';

                    export const options = {
                      vus: 10,
                      duration: '30s',
                      cloud: {
                        // Project: Default project
                        projectID: 3684621,
                        // Test runs with the same name groups test runs together.
                        name: 'Test (04/12/2024-20:28:06)'
                      }
                    };

                    export default function() {
                      http.get('https://test.k6.io');
                      sleep(1);
                    }
              K6ArchiveScript:
                summary: K6 Archive Script
                value:
                  name: Orders API Soak Test
                  script: (.tar data)
            schema:
              $ref: '#/components/schemas/CreateLoadTestApiModel'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                OK:
                  value:
                    id: 1234
                    project_id: 312
                    name: Orders API Soak Test
                    baseline_test_run_id: null
                    created: 2024-12-03T09:53:00.553
                    updated: 2024-12-03T09:53:00.553
              schema:
                $ref: '#/components/schemas/LoadTestApiModel'
          description: OK.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiModel'
          description: The name is already taken.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Create a new test.
      tags:
      - load_tests
  /cloud/v6/projects/{id}:
    delete:
      description: Delete a project.
      operationId: projects_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the project.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: OK.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiModel'
          description: Cannot delete project with a running test.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Delete a project.
      tags:
      - projects
    get:
      description: Retrieve a single project.
      operationId: projects_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the project.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    id: 123
                    name: My Project
                    is_default: false
                    created: 2024-12-04T19:57:46.339Z
                    updated: 2024-12-04T19:57:46.339Z
              schema:
                $ref: '#/components/schemas/ProjectApiModel'
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Get a project by ID.
      tags:
      - projects
    patch:
      description: Update a project.
      operationId: projects_partial_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the project.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update:
                value:
                  name: New Project Name
            schema:
              $ref: '#/components/schemas/PatchProjectApiModel'
        required: true
      responses:
        "204":
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Update a project.
      tags:
      - projects
  /cloud/v6/test_runs:
    get:
      description: List all available test runs.
      operationId: test_runs_list
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: Include collection length in the response object as `@count`.
        explode: true
        in: query
        name: $count
        required: false
        schema:
          type: boolean
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          type: integer
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: $top
        required: false
        schema:
          default: 1000
          maximum: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    value:
                    - id: 1234
                      test_id: 123
                      project_id: 12
                      started_by: user@example.com
                      created: 2024-06-01T19:00:00Z
                      ended: null
                      cost:
                        total_vuh: 10.0
                        breakdown:
                          protocol_vuh: 10.0
                          browser_vuh: 0.0
                      note: User-defined note for the test run.
                      retention_expiry: 2024-07-01T19:30:30Z
                      distribution:
                      - load_zone: amazon:us:ashburn
                        percent: 100
                      options:
                        stages:
                        - duration: 10m
                          target: 10
                        - duration: 20m
                          target: 10
                        cloud:
                          distribution:
                            amazon:us:ashburn:
                              loadZone: amazon:us:ashburn
                              percent: 100
                          projectID: 12
                      result: null
                      result_details: {}
                      status: running
                      status_details:
                        type: running
                        entered: 2024-06-01T19:00:20Z
                      status_history:
                      - type: created
                        entered: 2024-06-01T19:00:00Z
                      - type: initializing
                        entered: 2024-06-01T19:00:10Z
                      - type: running
                        entered: 2024-06-01T19:00:20Z
                    '@count': 123
                    '@nextLink': https://api.k6.io/cloud/v6/test_runs?$skip=50&$top=20
              schema:
                $ref: '#/components/schemas/TestRunListResponse'
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: List all test runs.
      tags:
      - test_runs
  /cloud/v6/test_runs/{id}:
    delete:
      description: Delete a test run.
      operationId: test_runs_destroy
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: OK.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiModel'
          description: Cannot delete test while it's running.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Delete a test run.
      tags:
      - test_runs
    get:
      description: Fetch a single test run.
      operationId: test_runs_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Running:
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: user@example.com
                    created: 2024-06-01T19:00:00Z
                    ended: null
                    cost:
                      total_vuh: 10.0
                      breakdown:
                        protocol_vuh: 10.0
                        browser_vuh: 0.0
                    note: User-defined note for the test run.
                    retention_expiry: 2024-07-01T19:30:30Z
                    distribution:
                    - load_zone: amazon:us:ashburn
                      percent: 100
                    options:
                      stages:
                      - duration: 10m
                        target: 10
                      - duration: 20m
                        target: 10
                      cloud:
                        distribution:
                          amazon:us:ashburn:
                            loadZone: amazon:us:ashburn
                            percent: 100
                        projectID: 12
                    result: null
                    result_details: {}
                    status: running
                    status_details:
                      type: running
                      entered: 2024-06-01T19:00:20Z
                    status_history:
                    - type: created
                      entered: 2024-06-01T19:00:00Z
                    - type: initializing
                      entered: 2024-06-01T19:00:10Z
                    - type: running
                      entered: 2024-06-01T19:00:20Z
                Completed:
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: user@example.com
                    created: 2024-06-01T19:00:00Z
                    ended: 2024-06-01T19:30:30Z
                    cost:
                      total_vuh: 10.0
                      breakdown:
                        protocol_vuh: 10.0
                        browser_vuh: 0.0
                    note: User-defined note for the test run.
                    retention_expiry: 2024-07-01T19:30:30Z
                    distribution:
                    - load_zone: amazon:us:ashburn
                      percent: 100
                    options:
                      stages:
                      - duration: 10m
                        target: 10
                      - duration: 20m
                        target: 10
                      cloud:
                        distribution:
                          amazon:us:ashburn:
                            loadZone: amazon:us:ashburn
                            percent: 100
                        projectID: 12
                    result: success
                    result_details: {}
                    status: completed
                    status_details:
                      type: completed
                      entered: 2024-06-01T19:30:30Z
                    status_history:
                    - type: created
                      entered: 2024-06-01T19:00:00Z
                    - type: initializing
                      entered: 2024-06-01T19:00:10Z
                    - type: running
                      entered: 2024-06-01T19:00:20Z
                    - type: processing_metrics
                      entered: 2024-06-01T19:30:20Z
                    - type: completed
                      entered: 2024-06-01T19:30:30Z
                ValidationError:
                  summary: Validation Error
                  value:
                    id: 1234
                    test_id: 123
                    project_id: 12
                    started_by: user@example.com
                    created: 2024-06-01T19:00:00Z
                    ended: 2024-06-01T19:00:10Z
                    cost: null
                    note: ""
                    retention_expiry: 2024-07-01T19:00:10Z
                    distribution: null
                    options: null
                    result: error
                    result_details: {}
                    status: aborted
                    status_details:
                      type: aborted
                      entered: 2024-06-24T19:44:36.46Z
                      extra:
                        by_user: null
                        message: Validation error
                        code: 123
                    status_history:
                    - type: created
                      entered: 2024-06-01T19:00:00Z
                    - type: aborted
                      entered: 2024-06-01T19:00:10Z
                      extra:
                        by_user: null
                        message: Validation error
                        code: 123
              schema:
                $ref: '#/components/schemas/TestRunApiModel'
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Get a test run by ID.
      tags:
      - test_runs
    patch:
      description: Update a test run.
      operationId: test_runs_partial_update
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update:
                value:
                  note: New note for the test run
            schema:
              $ref: '#/components/schemas/PatchTestRunApiModel'
        required: true
      responses:
        "204":
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Update a test run.
      tags:
      - test_runs
  /cloud/v6/test_runs/{id}/abort:
    post:
      description: Abort a running test.
      operationId: test_runs_abort
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: OK.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseApiModel'
          description: Cannot abort a non-running test.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Abort a running test.
      tags:
      - test_runs
  /cloud/v6/test_runs/{id}/save:
    post:
      description: Persist test run results to keep them past the data-retention period.
      operationId: test_runs_save
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: OK.
        "409":
          content:
            application/json:
              examples:
                Deleted:
                  value:
                    error:
                      message: Test run has been deleted
                      code: conflict
                LimitReached:
                  summary: Limit reached
                  value:
                    error:
                      message: The maximum number of saved test runs has been reached
                      code: conflict
              schema:
                $ref: '#/components/schemas/ErrorResponseApiModel'
          description: "The test run results have been deleted, or the maximum number\
            \ of saved test runs has been reached."
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Save test run results.
      tags:
      - test_runs
  /cloud/v6/test_runs/{id}/script:
    get:
      description: Download the test run script.
      operationId: test_runs_script_retrieve
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/javascript:
              examples:
                TextScript:
                  summary: Text Script
                  value: |
                    import http from 'k6/http';
                    import { sleep } from 'k6';

                    export const options = {
                      vus: 10,
                      duration: '30s',
                      cloud: {
                        // Project: Default project
                        projectID: 3684621,
                        // Test runs with the same name groups test runs together.
                        name: 'Test (04/12/2024-20:28:06)'
                      }
                    };

                    export default function() {
                      http.get('https://test.k6.io');
                      sleep(1);
                    }
              schema:
                type: string
            application/x-tar:
              examples:
                K6ArchiveScript:
                  summary: K6 Archive Script
                  value: (.tar data)
              schema:
                format: binary
                type: string
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Download the test run script.
      tags:
      - test_runs
  /cloud/v6/test_runs/{id}/unsave:
    post:
      description: |-
        Disable persistence of the test run results past the data-retention period.

        The data will be automatically deleted at the end of the retention period.
      operationId: test_runs_unsave
      parameters:
      - $ref: '#/components/parameters/stackId'
      - description: ID of the load test run.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: OK.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Unsave test run results.
      tags:
      - test_runs
  /cloud/v6/validate_options:
    post:
      description: |-
        Verify a test can be run in Grafana Cloud with the provided k6 script options.

        Project ID can be specified in the root object as well as under `options.cloud`.
      operationId: validate_options
      parameters:
      - $ref: '#/components/parameters/stackId'
      requestBody:
        content:
          application/json:
            examples:
              ProjectIdInOptions:
                value:
                  options:
                    stages:
                    - duration: 1m
                      target: 20
                    - duration: 3m
                      target: 20
                    - duration: 30s
                      target: 0
                    cloud:
                      distribution:
                        amazon:us:ashburn:
                          loadZone: amazon:us:ashburn
                          percent: 100
                      projectID: 123456
            schema:
              $ref: '#/components/schemas/ValidateOptionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                OK:
                  value:
                    vuh_usage: 1.5
              schema:
                $ref: '#/components/schemas/ValidateOptionsResponse'
          description: OK.
        "400":
          $ref: '#/components/responses/ValidationError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/PermissionDenied'
        "500":
          $ref: '#/components/responses/UnexpectedError'
      security:
      - k6ApiToken: []
      summary: Validate k6 script options.
      tags:
      - load_tests
components:
  parameters:
    stackId:
      description: |-
        Numeric ID of the Grafana stack representing the request scope.
        - If the API is called with a *Personal API token*, the user must be a member of the specified stack.
        - If the API is called with a *Grafana Stack API token*, the value must be the ID of the corresponding stack.
      explode: false
      in: header
      name: X-Stack-Id
      required: true
      schema:
        type: integer
      style: simple
  responses:
    ValidationError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseApiModel'
      description: Request validation error.
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseApiModel'
      description: Invalid token or authentication scheme.
    PermissionDenied:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseApiModel'
      description: The user does not have permission to perform this action.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseApiModel'
      description: Resource not found.
    UnexpectedError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseApiModel'
      description: Unexpected error.
  schemas:
    CreateLoadTestApiModel:
      additionalProperties: false
      properties:
        name:
          description: Unique name of the test within the project.
          maxLength: 300
          minLength: 1
          title: Name
          type: string
        script:
          description: Test script in the form of a UTF-8 encoded text or a k6 .tar
            archive.
          format: binary
          title: Script
          type: string
      required:
      - name
      - script
      title: CreateLoadTest
    CreateProjectApiModel:
      example:
        name: name
      properties:
        name:
          description: Project name.
          maxLength: 255
          minLength: 1
          title: Name
          type: string
      required:
      - name
      title: CreateProject
    DistributionZoneApiModel:
      example:
        load_zone: load_zone
        percent: 9
      properties:
        load_zone:
          description: Name of the load zone.
          title: Load Zone
          type: string
        percent:
          description: Percentage of the load that runs from the load zone.
          title: Percent
          type: integer
      required:
      - load_zone
      - percent
      title: DistributionZone
    ErrorApiModel:
      description: Details of the error.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        message:
          description: Human-readable string describing the error.
          title: Message
          type: string
        code:
          description: Service-defined error code.
          title: Code
          type: string
        target:
          description: "A string indicating the target of the error. For example,\
            \ the name of the property in error."
          nullable: true
          title: Target
          type: string
        details:
          description: Array of objects with more specific error information when
            applicable.
          items:
            $ref: '#/components/schemas/ErrorDetailsApiModel'
          nullable: true
          type: array
      required:
      - code
      - message
      title: Error
    ErrorDetailsApiModel:
      example:
        code: code
        message: message
        target: target
      properties:
        message:
          description: Human-readable string describing the error.
          title: Message
          type: string
        code:
          description: Service-defined error code.
          title: Code
          type: string
        target:
          description: "A string indicating the target of the error. For example,\
            \ the name of the property in error."
          nullable: true
          title: Target
          type: string
      required:
      - code
      - message
      title: ErrorDetails
    ErrorResponseApiModel:
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorApiModel'
      required:
      - error
      title: ErrorResponse
    LoadTestApiModel:
      example:
        baseline_test_run_id: 1
        project_id: 6
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        id: 0
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: ID of the load test.
          title: Id
          type: integer
        project_id:
          description: ID of the parent project.
          title: Project Id
          type: integer
        name:
          description: Unique name of the test within the project.
          maxLength: 300
          minLength: 1
          title: Name
          type: string
        baseline_test_run_id:
          description: ID of a baseline test run used for results comparison.
          nullable: true
          title: Baseline Test Run Id
          type: integer
        created:
          description: The date when the test was created.
          format: date-time
          title: Created
          type: string
        updated:
          description: The date when the test was last updated.
          format: date-time
          title: Updated
          type: string
      required:
      - baseline_test_run_id
      - created
      - id
      - name
      - project_id
      - updated
      title: LoadTest
    LoadTestListResponse:
      example:
        '@count': 5
        '@nextLink': https://openapi-generator.tech
        value:
        - baseline_test_run_id: 1
          project_id: 6
          created: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 0
          updated: 2000-01-23T04:56:07.000+00:00
        - baseline_test_run_id: 1
          project_id: 6
          created: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 0
          updated: 2000-01-23T04:56:07.000+00:00
      properties:
        value:
          description: List of the resulting values.
          items:
            $ref: '#/components/schemas/LoadTestApiModel'
          type: array
        '@count':
          description: Object count in the collection.
          title: '@Count'
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          format: uri
          title: '@Nextlink'
          type: string
      required:
      - value
      title: LoadTestListResponse
    PatchLoadTestApiModel:
      additionalProperties: false
      example:
        baseline_test_run_id: 0
        name: name
      properties:
        name:
          description: Unique name of the test within the project.
          maxLength: 300
          minLength: 1
          title: Name
          type: string
        baseline_test_run_id:
          description: ID of a baseline test run used for results comparison.
          nullable: true
          title: Baseline Test Run Id
          type: integer
      title: PatchLoadTest
    PatchProjectApiModel:
      additionalProperties: false
      example:
        name: name
      properties:
        name:
          description: Project name.
          maxLength: 255
          minLength: 1
          title: Name
          type: string
      required:
      - name
      title: PatchProject
    PatchProjectLimitsRequest:
      additionalProperties: false
      example:
        vu_max_per_test: 1
        duration_max_per_test: 1
        vu_browser_max_per_test: 1
        vuh_max_per_month: 1
      properties:
        vuh_max_per_month:
          description: Max amount of virtual user hours (VUH) used per one calendar
            month.
          minimum: 1
          nullable: true
          title: Vuh Max Per Month
          type: integer
        vu_max_per_test:
          description: Max number of concurrent virtual users (VUs) used in one test.
          minimum: 1
          nullable: true
          title: Vu Max Per Test
          type: integer
        vu_browser_max_per_test:
          description: Max number of concurrent browser virtual users (VUs) used in
            one test.
          minimum: 1
          nullable: true
          title: Vu Browser Max Per Test
          type: integer
        duration_max_per_test:
          description: Max duration of a test in seconds.
          minimum: 1
          nullable: true
          title: Duration Max Per Test
          type: integer
      title: PatchProjectLimitsRequest
    PatchTestRunApiModel:
      additionalProperties: false
      example:
        note: note
      properties:
        note:
          description: User-defined note for the test run.
          title: Note
          type: string
      required:
      - note
      title: PatchTestRun
    ProjectApiModel:
      example:
        created: 2000-01-23T04:56:07.000+00:00
        name: name
        id: 0
        is_default: true
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Project ID.
          title: Id
          type: integer
        name:
          description: Project name.
          maxLength: 255
          minLength: 1
          title: Name
          type: string
        is_default:
          description: Use this project as default for running tests when no explicit
            project ID is provided.
          title: Is Default
          type: boolean
        created:
          description: The date when the project was created.
          format: date-time
          title: Created
          type: string
        updated:
          description: The date when the project was last updated.
          format: date-time
          title: Updated
          type: string
      required:
      - created
      - id
      - is_default
      - name
      - updated
      title: Project
    ProjectLimitsApiModel:
      example:
        vu_max_per_test: 1
        duration_max_per_test: 1
        project_id: 0
        vu_browser_max_per_test: 1
        vuh_max_per_month: 1
      properties:
        project_id:
          description: ID of the related project.
          title: Project Id
          type: integer
        vuh_max_per_month:
          description: Max amount of virtual user hours (VUH) used per one calendar
            month.
          minimum: 1
          nullable: true
          title: Vuh Max Per Month
          type: integer
        vu_max_per_test:
          description: Max number of concurrent virtual users (VUs) used in one test.
          minimum: 1
          nullable: true
          title: Vu Max Per Test
          type: integer
        vu_browser_max_per_test:
          description: Max number of concurrent browser virtual users (VUs) used in
            one test.
          minimum: 1
          nullable: true
          title: Vu Browser Max Per Test
          type: integer
        duration_max_per_test:
          description: Max duration of a test in seconds.
          minimum: 1
          nullable: true
          title: Duration Max Per Test
          type: integer
      required:
      - duration_max_per_test
      - project_id
      - vu_browser_max_per_test
      - vu_max_per_test
      - vuh_max_per_month
      title: ProjectLimits
    ProjectListResponse:
      example:
        '@count': 6
        '@nextLink': https://openapi-generator.tech
        value:
        - created: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 0
          is_default: true
          updated: 2000-01-23T04:56:07.000+00:00
        - created: 2000-01-23T04:56:07.000+00:00
          name: name
          id: 0
          is_default: true
          updated: 2000-01-23T04:56:07.000+00:00
      properties:
        value:
          description: List of the resulting values.
          items:
            $ref: '#/components/schemas/ProjectApiModel'
          type: array
        '@count':
          description: Object count in the collection.
          title: '@Count'
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          format: uri
          title: '@Nextlink'
          type: string
      required:
      - value
      title: ProjectListResponse
    StatusApiModel:
      description: Details of the test run status.
      example:
        extra:
          code: 7
          message: message
          by_user: by_user
        entered: 2000-01-23T04:56:07.000+00:00
        type: type
      properties:
        type:
          description: "Type of simple test run status: `created`, `queued`, `initializing`,\
            \ `running`, `processing_metrics`, `completed` or `aborted`."
          title: Type
          type: string
        entered:
          description: Date and time when the test run entered the status.
          format: date-time
          title: Entered
          type: string
        extra:
          $ref: '#/components/schemas/StatusExtraApiModel'
      required:
      - entered
      - type
      title: Status
    StatusExtraApiModel:
      example:
        code: 7
        message: message
        by_user: by_user
      properties:
        by_user:
          description: Email of the user that set the status if applicable.
          format: email
          nullable: true
          title: By User
          type: string
        message:
          description: Human-readable string describing the error if applicable.
          nullable: true
          title: Message
          type: string
        code:
          description: Service-defined error code if applicable.
          nullable: true
          title: Code
          type: integer
      required:
      - by_user
      - code
      - message
      title: StatusExtra
    TestCostApiModel:
      example:
        total_vuh: 5.962133916683182
        breakdown:
          browser_vuh: 2.3021358869347655
          protocol_vuh: 5.637376656633329
      properties:
        total_vuh:
          $ref: '#/components/schemas/Total_Vuh'
        breakdown:
          $ref: '#/components/schemas/TestCostBreakdownApiModel'
      required:
      - breakdown
      - total_vuh
      title: TestCost
    TestCostBreakdownApiModel:
      description: Breakdown details of the test cost.
      example:
        browser_vuh: 2.3021358869347655
        protocol_vuh: 5.637376656633329
      properties:
        protocol_vuh:
          $ref: '#/components/schemas/Protocol_Vuh'
        browser_vuh:
          $ref: '#/components/schemas/Browser_Vuh'
      required:
      - browser_vuh
      - protocol_vuh
      title: TestCostBreakdown
    TestRunApiModel:
      description: The API model for a test run.
      example:
        note: note
        cost:
          total_vuh: 5.962133916683182
          breakdown:
            browser_vuh: 2.3021358869347655
            protocol_vuh: 5.637376656633329
        created: 2000-01-23T04:56:07.000+00:00
        retention_expiry: 2000-01-23T04:56:07.000+00:00
        status_history:
        - extra:
            code: 7
            message: message
            by_user: by_user
          entered: 2000-01-23T04:56:07.000+00:00
          type: type
        - extra:
            code: 7
            message: message
            by_user: by_user
          entered: 2000-01-23T04:56:07.000+00:00
          type: type
        distribution:
        - load_zone: load_zone
          percent: 9
        - load_zone: load_zone
          percent: 9
        result_details: "{}"
        result: result
        project_id: 1
        ended: 2000-01-23T04:56:07.000+00:00
        options: "{}"
        id: 0
        started_by: started_by
        status_details:
          extra:
            code: 7
            message: message
            by_user: by_user
          entered: 2000-01-23T04:56:07.000+00:00
          type: type
        test_id: 6
        status: status
      properties:
        id:
          description: ID of the test run.
          title: Id
          type: integer
        test_id:
          description: ID of the parent test.
          title: Test Id
          type: integer
        project_id:
          description: ID of the parent project.
          title: Project Id
          type: integer
        started_by:
          description: Email of the user who started the test if started with a user
            token.
          format: email
          nullable: true
          title: Started By
          type: string
        created:
          description: Date and time when the test run was started.
          format: date-time
          title: Created
          type: string
        ended:
          description: Date and time when the test run ended. Unset if the test is
            still running.
          format: date-time
          nullable: true
          title: Ended
          type: string
        note:
          description: User-defined note for the test run.
          title: Note
          type: string
        retention_expiry:
          description: Timestamp after which the test run results are deleted or null
            if the test run is saved.
          format: date-time
          nullable: true
          title: Retention Expiry
          type: string
        cost:
          $ref: '#/components/schemas/TestCostApiModel'
        status:
          description: Current test run status.
          title: Status
          type: string
        status_details:
          $ref: '#/components/schemas/StatusApiModel'
        status_history:
          description: List of test run status objects sorted by the enter time representing
            the status history.
          items:
            $ref: '#/components/schemas/StatusApiModel'
          type: array
        distribution:
          description: List of the load zones configured for the test and the corresponding
            distribution percentages.
          items:
            $ref: '#/components/schemas/DistributionZoneApiModel'
          nullable: true
          type: array
        result:
          description: "Test run result. `passed` if there were no issues, `failed`\
            \ if thresholds were breached, `error` if the execution was not completed."
          nullable: true
          title: Result
          type: string
        result_details:
          description: Additional information about the test run result.
          nullable: true
          title: Result Details
          type: object
        options:
          description: The original options object if available.
          nullable: true
          title: Options
          type: object
      required:
      - cost
      - created
      - distribution
      - ended
      - id
      - note
      - options
      - project_id
      - result
      - result_details
      - retention_expiry
      - started_by
      - status
      - status_details
      - status_history
      - test_id
      title: TestRun
    TestRunListResponse:
      example:
        '@count': 3
        '@nextLink': https://openapi-generator.tech
        value:
        - note: note
          cost:
            total_vuh: 5.962133916683182
            breakdown:
              browser_vuh: 2.3021358869347655
              protocol_vuh: 5.637376656633329
          created: 2000-01-23T04:56:07.000+00:00
          retention_expiry: 2000-01-23T04:56:07.000+00:00
          status_history:
          - extra:
              code: 7
              message: message
              by_user: by_user
            entered: 2000-01-23T04:56:07.000+00:00
            type: type
          - extra:
              code: 7
              message: message
              by_user: by_user
            entered: 2000-01-23T04:56:07.000+00:00
            type: type
          distribution:
          - load_zone: load_zone
            percent: 9
          - load_zone: load_zone
            percent: 9
          result_details: "{}"
          result: result
          project_id: 1
          ended: 2000-01-23T04:56:07.000+00:00
          options: "{}"
          id: 0
          started_by: started_by
          status_details:
            extra:
              code: 7
              message: message
              by_user: by_user
            entered: 2000-01-23T04:56:07.000+00:00
            type: type
          test_id: 6
          status: status
        - note: note
          cost:
            total_vuh: 5.962133916683182
            breakdown:
              browser_vuh: 2.3021358869347655
              protocol_vuh: 5.637376656633329
          created: 2000-01-23T04:56:07.000+00:00
          retention_expiry: 2000-01-23T04:56:07.000+00:00
          status_history:
          - extra:
              code: 7
              message: message
              by_user: by_user
            entered: 2000-01-23T04:56:07.000+00:00
            type: type
          - extra:
              code: 7
              message: message
              by_user: by_user
            entered: 2000-01-23T04:56:07.000+00:00
            type: type
          distribution:
          - load_zone: load_zone
            percent: 9
          - load_zone: load_zone
            percent: 9
          result_details: "{}"
          result: result
          project_id: 1
          ended: 2000-01-23T04:56:07.000+00:00
          options: "{}"
          id: 0
          started_by: started_by
          status_details:
            extra:
              code: 7
              message: message
              by_user: by_user
            entered: 2000-01-23T04:56:07.000+00:00
            type: type
          test_id: 6
          status: status
      properties:
        value:
          description: List of the resulting values.
          items:
            $ref: '#/components/schemas/TestRunApiModel'
          type: array
        '@count':
          description: Object count in the collection.
          title: '@Count'
          type: integer
        '@nextLink':
          description: A reference to the next page of results. The property is included
            until there are no more pages of results to retrieve.
          format: uri
          title: '@Nextlink'
          type: string
      required:
      - value
      title: TestRunListResponse
    ValidateOptionsRequest:
      example:
        project_id: 0
        options: "{}"
      properties:
        project_id:
          description: ID of a project where the test belongs.
          nullable: true
          title: Project Id
          type: integer
        options:
          description: k6 script options object to validate.
          title: Options
          type: object
      required:
      - options
      title: ValidateOptionsRequest
    ValidateOptionsResponse:
      example:
        vuh_usage: 0.8008281904610115
      properties:
        vuh_usage:
          description: How many VUH will be charged for the test.
          title: Vuh Usage
          type: number
      required:
      - vuh_usage
      title: ValidateOptionsResponse
    Total_Vuh:
      anyOf:
      - type: number
      - type: string
      description: Total number of VUH charged for the test run.
      title: Total Vuh
    Protocol_Vuh:
      anyOf:
      - type: number
      - type: string
      description: Number of VUH charged for the protocol part of the test run.
      title: Protocol Vuh
    Browser_Vuh:
      anyOf:
      - type: number
      - type: string
      description: Number of VUH charged for the browser part of the test run.
      title: Browser Vuh
  securitySchemes:
    k6ApiToken:
      description: Token-based authentication using k6 Personal API token or Grafana
        Stack API token.
      scheme: bearer
      type: http
